<!DOCTYPE html>
<html>
<head>
	<title>Add Patient Quantity</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/addPatientQuantity.css">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

	
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">BloodBank</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link " href="/">Home</a>
			<a class="nav-item nav-link " href="/donor">Donor Register </a>
			<a class="nav-item nav-link" href="/bankLogin">BloodBank Login </a>
			<a class="nav-item nav-link active" href="/hospitalLogin">Hospital Login </a>
		  </div>
		</div>
	  </nav>
	<div class="container-lg">
		<div id="icon"><img src="images/patient.png"></div>
		<h1>Add Blood Required</h1>
        <hr>
       
        <form action="/uploadPatientQuantity" method="POST">
            <DIV class="details">
                <div><b>ID : </b>  <%= id %></div>
                <div><b>Patient Name : </b>  <%= first_name %> <%= last_name %></div>
                <div><b>Age : </b>  <%= age %></div>
                <div><b>Blood Group : </b>  <%= blood_group %></div>
                <div><b>Rh Factor : </b>   <%= rh_factor %></div>
            </DIV>
            <input name="patient_id" type="number" hidden value=<%= id %>>
            <input name="hospital_id" type="number" hidden value=<%= hospital_id %>>
            <input name="first_name" type="text" hidden value="<%= first_name %>">
            <input name="last_name" type="text" hidden value="<%= last_name %>">
            <input name="rh_factor" type="text" hidden value="<%= rh_factor %>">
            <input name="blood_group" type="text" hidden value="<%= blood_group %>"> 
            <input name="age" type="number" hidden value="<%= age %>">   
            <input class="form" name="quantity" type="number" placeholder="Units of blood"><br>
		    <button type="submit" class="btn-lg">
                SUBMIT
            </button>
		</form>			
	</div>	
</body>
</html>