<!DOCTYPE html>
<html>
<head>
	<title>Blood Requests</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/bbBloodRequests.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/bloodbank">BloodBank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link " href="/">Home  <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/donor">Donor Register </a>
			<a class="nav-item nav-link active" href="/bankLogin">BloodBank Login </a>
			<a class="nav-item nav-link" href="/hospitalLogin">Hospital Login </a>
		  </div>
		</div>
	</nav>

    <div>
	<div class="container">
		<% data.forEach(function(dat) { %>
			<div class="card quan">
				<div class="innerquan"><%= dat.blood_group %><%= dat.rh_factor %></div><%= dat.available %></div>
		<% }); %>
	
	
	</div>
	
<div class="cont">
	<br><br>
	<% if (er == 1) { %> 
		<div id="err">Blood quantity requested is not available !!</div>
		<%}%>
	<div class="card">
		
        <h2 class="hospitalName">Fortis Hospital</h2>
            <div><hr></div>
			<div class="bhjdisj">
				<h4>Total Blood required :<span class="hjkjhbhj">
					<% if (t1) { %> 
						<%= t1 %>
					<%} else { %>
						0
					<% } %></span> units</h4>
			</div>
		<div class="mytable">
		<table class="table table-borderless ">
			<thead>
			  <tr>
				<th class="name" scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Units</th>
				<th scope="col"></th>
			  </tr>
			</thead>
			<tbody>
				<% if (h1) { %> 
				<% h1.forEach(function(dat) { %>
                    <tr>
						<td scope="row" class="name"><%= dat.first_name %> <%= dat.last_name %></td>
						<td><%= dat.blood_group %><%= dat.rh_factor %></td>
						<td class="units"><%= dat.quantity_needed%>‏‏‎</td>
						<td><a href="/updateRequest?id=<%= dat.request_id %>&blood_group=<%= dat.blood_group %>&rh_factor=<%= dat.rh_factor %>"><i class="fas fa-check-circle"></i></a></td>
					</tr>
                <% }); %>
				<%}%>
			</tbody>
		  </table>
	</div>
    </div>
    <div class="card">
		
			<h2 class="hospitalName">Apollo Hospital</h2>
			
            <div><hr></div>
		<div class="bhjdisj">
			<h4>Total Blood required :<span class="hjkjhbhj">
				<% if (t2) { %> 
					<%= t2 %>
				<%} else { %>
					0
				<% } %></span> units</h4>
		</div>
		<div class="mytable">
		<table class="table table-borderless ">
			<thead>
			  <tr>
				<th class="name" scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Units</th>
				<th scope="col"></th>
			  </tr>
			</thead>
			
			<tbody>
				<% if (h2) { %> 
					<% h2.forEach(function(dat) { %>
						<tr>
							<td scope="row" class="name"><%= dat.first_name %> <%= dat.last_name %></td>
							<td><%= dat.blood_group %><%= dat.rh_factor %></td>
							<td class="units"><%= dat.quantity_needed%>‏‏‎</td>
							<td><a href="/updateRequest?id=<%= dat.request_id %>&blood_group=<%= dat.blood_group %>&rh_factor=<%= dat.rh_factor %>"><i class="fas fa-check-circle"></i></a></td>
						  </tr>
					<% }); %>
					<%}%>
			</tbody>
		  </table>
	</div>
    </div>
	<div class="card">
        <h2 class="hospitalName">Manipal Hospital</h2>
            <div><hr></div>
			<div class="bhjdisj">
				<h4>Total Blood required :<span class="hjkjhbhj">
					<% if (t3) { %> 
						<%= t3 %>
					<%} else { %>
						0
					<% } %></span> units</h4>
			</div>
		<div class="mytable">
		<table class="table table-borderless ">
			<thead>
			  <tr>
				<th class="name" scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Units</th>
				<th scope="col"></th>
			  </tr>
			</thead>
			<tbody>
				<% if (h3) { %> 
				<% h3.forEach(function(dat) { %>
                    <tr>
						<td scope="row" class="name"><%= dat.first_name %> <%= dat.last_name %></td>
						<td><%= dat.blood_group %><%= dat.rh_factor %></td>
						<td class="units"><%= dat.quantity_needed%>‏‏‎</td>
						<td><a href="/updateRequest?id=<%= dat.request_id %>&blood_group=<%= dat.blood_group %>&rh_factor=<%= dat.rh_factor %>"><i class="fas fa-check-circle"></i></a></td>
					  </tr>
                <% }); %>
				<%}%>
			</tbody>
		  </table>
		</div>
    </div> 
</div>
</div>
</body>
</html>